<div class="products-container">
    <div class="add-btn-container">
        <button (click)="openModal()" class="add-btn">Adicionar</button>
    </div>

    <div class="grid-container">
        <div class="grid-header">
            <div>ID</div>
            <div>Nome</div>
            <div>Descrição</div>
            <div>Quantidade</div>
            <div>Preço</div>
            <div class="actions-header">Ações</div>
        </div>

        <div class="grid-body" *ngFor="let product of products">
            <div>{{ product.id }}</div>
            <div>{{ product.name }}</div>
            <div>{{ product.description }}</div>
            <div>{{ product.quantity }}</div>
            <div>R$ {{ product.price }}</div>
            <div class="actions">
                <button (click)="openModal(product)" class="edit-btn">Editar</button>
                <button (click)="deleteProduct(product.id!)" class="delete-btn">Deletar</button>
            </div>
        </div>
    </div>
</div>

<app-product-modal *ngIf="showModal" [product]="selectedProduct" (save)="submitModal($event)"></app-product-modal>
