<button (click)="openModal()">Adicionar</button>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Quantidade</th>
            <th>Preço</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products">
            <td>{{ product.id }}</td>
            <td>{{ product.name}}</td>
            <td>{{ product.description}}</td>
            <td>{{ product.quantity}}</td>
            <td>{{ product.price}}</td>
            <td>
                <button (click)="openModal(product)">Editar</button>
                <button (click)="deleteProduct(product.id)">Deletar</button>
            </td>
        </tr>
    </tbody>
</table>

<app-product-modal *ngIf="showModal" [product]="selectedProduct" (save)="submitModal($event)"></app-product-modal>
