.products-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
}

.add-btn-container {
    width: 100%;
    text-align: right;
    margin-bottom: 10px;
}

.add-btn {
    width: 120px;
    height: 30px;
    color: white;
    background-color: #28a745;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.grid-container {
    width: 100%;
    display: grid;
}

.grid-header, .grid-body {
    display: grid;
    grid-template-columns: 50px 1fr 2fr 1fr 1fr 1fr;
    align-items: center;
    padding: 5px 5px;
    border-left: 2px solid #3d566e;
    border-right: 2px solid #3d566e;
    border-bottom: 2px solid #3d566e;
}

.grid-header {
    border-top: 2px solid #3d566e;
}

.grid-header, .grid-body:nth-child(odd) {
    background-color: #f2f2f2;
}

.actions-header {
    text-align: center;
}

.actions {
    text-align: center;
    display: flex;
    gap: 10px;
}

.edit-btn, .delete-btn {
    flex: 1;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 5px;
    cursor: pointer;
}

.edit-btn {
    background-color: #ffc107;
}

.delete-btn {
    background-color: #dc3545;
}
