<div class="page-container">
    <h3>Produtos</h3>

    <div class="btn-add-container">
        <button (click)="openModal()" class="btn-add">Adicionar</button>
    </div>

    <div class="grid-container">
        <div class="grid-header">
            <div>ID</div>
            <div>Nome</div>
            <div>Descrição</div>
            <div>Categorias</div>
            <div>Quantidade</div>
            <div>Preço</div>
            <div class="actions-header">Ações</div>
        </div>

        @for(product of products; track products) {
            <div class="grid-body">
                <div>{{ product.id }}</div>
                <div>{{ product.name }}</div>
                <div>{{ product.description }}</div>
                <div>
                    @for(productCategory of product.categories; track productCategory.name; let last = $last) {
                        <span>{{productCategory.name}}</span>
                        @if(!last) {
                            <span>, </span>
                        }
                    }
                </div>
                <div>{{ product.quantity }}</div>
                <div>R$ {{ product.price }}</div>
                <div class="actions">
                    <button (click)="openModal(product)" class="btn-edit">Editar</button>
                    <button (click)="deleteProduct(product.id!)" class="btn-delete">Deletar</button>
                </div>
            </div>
        }
    </div>
</div>

@if (showModal) {
  <app-product-modal [product]="selectedProduct" (save)="submitModal($event)" (cancel)="showModal=false"></app-product-modal>
}