<div class="modal-container">
  <form [formGroup]="productForm" (ngSubmit)="onSubmit()" class="modal-form">
    
    <label for="name">Nome do produto</label>
    <input type="text" formControlName="name" placeholder="Nome" id="name">
    <div class="error-msg-container">
      @if(productForm.get('name')?.touched && productForm.get('name')?.hasError('required')) {
        <span class="error-msg">* O nome do produto é obrigatório</span>
      }
    </div>

    <label for="description">Descrição</label>
    <input type="text" formControlName="description" placeholder="Descrição" id="description">
    <div class="error-msg-container">
      @if(productForm.get('description')?.touched && productForm.get('description')?.hasError('required')) {
        <span class="error-msg">* A descrição é obrigatória</span>
      }
    </div>

    <div class="categories-container" formArrayName="categories">
      <label>Categorias</label>
      @for(category of categories; track category.name; let i = $index) {
        <div class="category-container">
          <input type="checkbox" [formControlName]="i" [id]="'category-' + i">
          <label [for]="'category-' + i">{{category.name}}  </label>    
        </div>
        }
      <div class="error-msg-container">

      </div>
    </div>

    <label for="quantity">Quantidade</label>
    <input type="number" formControlName="quantity" placeholder="Quantidade" id="quantity">
    <div class="error-msg-container">
      @if(productForm.get('quantity')?.touched && productForm.get('quantity')?.hasError('required')) {
        <span class="error-msg">* A quantidade é obrigatória</span>
      }
    </div>

    <label for="price">Preço</label>
    <input type="number" formControlName="price" placeholder="Preço" id="price">
    <div class="error-msg-container">
      @if(productForm.get('price')?.touched && productForm.get('price')?.hasError('required')) {
        <span class="error-msg">* O preço é obrigatório</span>
      }
    </div>

    <div class="btn-container">
      <button type="button" class="btn-cancel" (click)="onCancel()">Cancelar</button>
      <button type="submit" class="btn-submit">Enviar</button>
    </div>

  </form>
</div>
