<div class="modal-container">
  <form [formGroup]="productForm" (ngSubmit)="onSubmit()" class="modal-form">
    
    <label for="name">Nome do produto</label>
    <input type="text" formControlName="name" placeholder="Nome" name="name">

    <label for="description">Descrição</label>
    <input type="text" formControlName="description" placeholder="Descrição" name="description">

    <label for="quantity">Quantidade</label>
    <input type="number" formControlName="quantity" placeholder="Quantidade" name="quantity">

    <label for="price">Preço</label>
    <input type="number" formControlName="price" placeholder="Preço" name="price">

    <div class="btn-container">
      <input type="submit" value="Enviar" class="btn-submit">
    </div>
  </form>
</div>
